smartinternz json code.txt
[{"id":"1f14f8f3.ce5b17","type":"ibmiot in","z":"44238567.cd53cc","authentication":"apiKey","apiKey":"89f304af.c79bc8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"arduino","applicationId":"","deviceType":"IOTdevice","eventType":"data","commandType":"data","format":"json","name":"IBM IoT input","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":90,"y":260,"wires":[["258b11c7.8af5be","6505386c.de1a58","c05d464c.b49cb8"]]},{"id":"9a3713e8.61ac7","type":"debug","z":"44238567.cd53cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1210,"y":180,"wires":[]},{"id":"258b11c7.8af5be","type":"function","z":"44238567.cd53cc","name":"Temperature","func":"msg.payload = msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["77fe5d64.c72ca4","9a3713e8.61ac7"]]},{"id":"6505386c.de1a58","type":"function","z":"44238567.cd53cc","name":"humidity","func":"msg.payload = msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["a70dc28.e42904","9a3713e8.61ac7"]]},{"id":"c05d464c.b49cb8","type":"function","z":"44238567.cd53cc","name":"soil moisture","func":"msg.payload = msg.payload.d.objectTemp;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["6e79c16a.152e8","9a3713e8.61ac7"]]},{"id":"77fe5d64.c72ca4","type":"ui_gauge","z":"44238567.cd53cc","name":"","group":"10cde698.2a5cf9","order":1,"width":8,"height":3,"gtype":"gage","title":"Temperature","label":"DC","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#c2c224","#ca3838"],"seg1":"","seg2":"","x":710,"y":280,"wires":[]},{"id":"6e79c16a.152e8","type":"ui_gauge","z":"44238567.cd53cc","name":"","group":"40a3eeb7.afef6","order":1,"width":8,"height":5,"gtype":"gage","title":"Soil Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#dddd22","#ca3838"],"seg1":"","seg2":"","x":690,"y":360,"wires":[]},{"id":"a70dc28.e42904","type":"ui_gauge","z":"44238567.cd53cc","name":"","group":"458ff22b.9b6b9c","order":1,"width":8,"height":5,"gtype":"wave","title":"Humidity ","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ff0f0f","#f4f41a","#b34242"],"seg1":"","seg2":"","x":700,"y":320,"wires":[]},{"id":"e47b8489.60f848","type":"ibmiot out","z":"44238567.cd53cc","authentication":"apiKey","apiKey":"89f304af.c79bc8","outputType":"cmd","deviceId":"123456789","deviceType":"IOTdevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":620,"y":40,"wires":[]},{"id":"4261ff9.241b7","type":"ui_button","z":"44238567.cd53cc","name":"","group":"10cde698.2a5cf9","order":3,"width":8,"height":1,"passthru":false,"label":"Motor Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":80,"y":100,"wires":[["e47b8489.60f848","9a3713e8.61ac7"]]},{"id":"bb1805c8.848248","type":"ui_button","z":"44238567.cd53cc","name":"","group":"10cde698.2a5cf9","order":2,"width":8,"height":1,"passthru":true,"label":"Motor On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":120,"y":60,"wires":[["e47b8489.60f848","9a3713e8.61ac7"]]},{"id":"deaa906b.1f26f","type":"http request","z":"44238567.cd53cc","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Delhi,   IN&units=metric&appid=a0bfd7e12cd43d39a44c301354137ea5","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":440,"wires":[["789c6dd2.ce0714","10bfea4.ace5c16","85afc313.b68c9","327774a9.2ee79c"]]},{"id":"fddb135a.44281","type":"inject","z":"44238567.cd53cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":400,"wires":[["deaa906b.1f26f"]]},{"id":"789c6dd2.ce0714","type":"change","z":"44238567.cd53cc","name":"temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":440,"wires":[["8beea245.78bf4","2a91ef9d.7b23d"]]},{"id":"8beea245.78bf4","type":"ui_chart","z":"44238567.cd53cc","name":"","group":"7ce38ad9.2202f4","order":1,"width":8,"height":4,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":400,"wires":[[]]},{"id":"10bfea4.ace5c16","type":"change","z":"44238567.cd53cc","name":"wind","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.wind.speed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":500,"wires":[["85ea4939.315598","11ecde0b.4406a2","e1d2ef93.80c96"]]},{"id":"85ea4939.315598","type":"ui_chart","z":"44238567.cd53cc","name":"","group":"39b24ce8.4fdd54","order":1,"width":7,"height":4,"label":"Wind Speed","chartType":"line","legend":"false","xformat":"kmph","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":890,"y":460,"wires":[[]]},{"id":"11ecde0b.4406a2","type":"ui_gauge","z":"44238567.cd53cc","name":"","group":"39b24ce8.4fdd54","order":2,"width":7,"height":5,"gtype":"wave","title":"Wind Speed","label":"kmph","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890,"y":520,"wires":[]},{"id":"85afc313.b68c9","type":"change","z":"44238567.cd53cc","name":"humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":560,"wires":[["b8fbb3a5.418d6","852740c7.7308d"]]},{"id":"b8fbb3a5.418d6","type":"ui_gauge","z":"44238567.cd53cc","name":"","group":"2c21d1b5.8ceace","order":1,"width":8,"height":4,"gtype":"wave","title":"humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":580,"wires":[]},{"id":"9005186e.323288","type":"ui_switch","z":"44238567.cd53cc","name":"","label":"Automatic","tooltip":"Motor will be on when temperature is greater than 35°C, humidity is less than 30% and soil moisture is less than 30%","group":"943d5bea.ff8958","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":60,"y":700,"wires":[["ee368afd.1e6b08"]]},{"id":"ee368afd.1e6b08","type":"switch","z":"44238567.cd53cc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":700,"wires":[["d5a3db57.4b49e8","eb36e748.2a5688","2f9d0cc4.895a04"],["fdf4469.84312b8","ccc3272b.3520a8"]]},{"id":"d5a3db57.4b49e8","type":"change","z":"44238567.cd53cc","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":700,"wires":[["b6cce4d9.a960c8","83ff2175.0cdf1"]]},{"id":"fdf4469.84312b8","type":"change","z":"44238567.cd53cc","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":760,"wires":[["b6cce4d9.a960c8","83ff2175.0cdf1"]]},{"id":"b6cce4d9.a960c8","type":"ui_switch","z":"44238567.cd53cc","name":"","label":"1 Hour","tooltip":"","group":"943d5bea.ff8958","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"Motor On","onvalueType":"str","onicon":"radio_button_checked","oncolor":"green","offvalue":"Motor Off","offvalueType":"str","officon":"radio_button_unchecked","offcolor":"red","x":770,"y":780,"wires":[["4ffd10d0.c189d"]]},{"id":"3a6efb07.bf9f24","type":"ui_switch","z":"44238567.cd53cc","name":"","label":"Manual","tooltip":"","group":"943d5bea.ff8958","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":260,"y":980,"wires":[["1d7c7724.9ee0c9"]]},{"id":"1d7c7724.9ee0c9","type":"switch","z":"44238567.cd53cc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":1080,"wires":[["3238522b.2362ae"],["20c7321f.e53a3e"]]},{"id":"3238522b.2362ae","type":"change","z":"44238567.cd53cc","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":980,"wires":[["5407528e.9c703c","dabcdb32.28d998"]]},{"id":"20c7321f.e53a3e","type":"change","z":"44238567.cd53cc","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1160,"wires":[["dabcdb32.28d998","5407528e.9c703c"]]},{"id":"5407528e.9c703c","type":"ui_button","z":"44238567.cd53cc","name":"","group":"943d5bea.ff8958","order":10,"width":0,"height":0,"passthru":false,"label":"Motor On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Motor On","payloadType":"str","topic":"","x":880,"y":1040,"wires":[["f5655826.6180d8","f5e03c93.8c2f5"]]},{"id":"dabcdb32.28d998","type":"ui_button","z":"44238567.cd53cc","name":"","group":"943d5bea.ff8958","order":12,"width":0,"height":0,"passthru":false,"label":"Motor Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Motor Off","payloadType":"str","topic":"","x":860,"y":1160,"wires":[["f5655826.6180d8","53277158.e7637"]]},{"id":"83ff2175.0cdf1","type":"ui_switch","z":"44238567.cd53cc","name":"","label":"1.5 Hour","tooltip":"","group":"943d5bea.ff8958","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"command\":\"Motor On\"}","onvalueType":"json","onicon":"radio-button_checked","oncolor":"green","offvalue":"Motor Off","offvalueType":"str","officon":"radio_button_unchecked","offcolor":"red","x":700,"y":940,"wires":[["bb240861.7693a8"]]},{"id":"ccc3272b.3520a8","type":"change","z":"44238567.cd53cc","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":1100,"wires":[["3a6efb07.bf9f24"]]},{"id":"eb36e748.2a5688","type":"change","z":"44238567.cd53cc","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":800,"wires":[["3a6efb07.bf9f24"]]},{"id":"4ffd10d0.c189d","type":"switch","z":"44238567.cd53cc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":720,"wires":[["db1615d7.a6b368","f5655826.6180d8"],["7f2bf9b8.418cb8"]]},{"id":"7f2bf9b8.418cb8","type":"change","z":"44238567.cd53cc","name":"","rules":[{"t":"set","p":"disabled","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":820,"wires":[[]]},{"id":"db1615d7.a6b368","type":"change","z":"44238567.cd53cc","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":820,"wires":[["83ff2175.0cdf1"]]},{"id":"f5655826.6180d8","type":"ui_toast","z":"44238567.cd53cc","position":"bottom right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1260,"y":940,"wires":[]},{"id":"bb240861.7693a8","type":"switch","z":"44238567.cd53cc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":940,"wires":[["f5655826.6180d8"],["f5655826.6180d8"]]},{"id":"2f9d0cc4.895a04","type":"change","z":"44238567.cd53cc","name":"","rules":[{"t":"set","p":"enabled","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":860,"wires":[["5407528e.9c703c","dabcdb32.28d998"]]},{"id":"fe180bb3.923808","type":"ui_form","z":"44238567.cd53cc","name":"","label":"","group":"a888b20b.fa2dc","order":1,"width":0,"height":0,"options":[{"label":"Area(sq km)","value":"data","type":"number","required":true,"rows":null},{"label":"Crop to be grown","value":"crop name","type":"text","required":true,"rows":null},{"label":"Crop chosen should be grown at what average temperature(Degree)","value":"temperature","type":"number","required":true,"rows":null},{"label":"Crop chosen should be grown in what % humidity","value":"humidity","type":"number","required":true,"rows":null}],"formValue":{"data":"","crop name":"","temperature":"","humidity":""},"payload":"","submit":"OK","cancel":"RESET","topic":"","x":850,"y":260,"wires":[["9a3713e8.61ac7"]]},{"id":"327774a9.2ee79c","type":"change","z":"44238567.cd53cc","name":"pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":620,"wires":[["2f31ac51.6f76f4","ed91e0f4.3bb6a"]]},{"id":"2f31ac51.6f76f4","type":"ui_gauge","z":"44238567.cd53cc","name":"","group":"d6835d3e.3bd17","order":1,"width":8,"height":4,"gtype":"compass","title":"Pressure","label":"Pa","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":640,"wires":[]},{"id":"682c0a8f.62f014","type":"ui_template","z":"44238567.cd53cc","group":"943d5bea.ff8958","name":"","order":1,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"https://i.ytimg.com/vi/1R6leo8J8us/maxresdefault.jpg\");\n    \n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":1040,"y":120,"wires":[["9a3713e8.61ac7"]]},{"id":"2a91ef9d.7b23d","type":"ui_numeric","z":"44238567.cd53cc","name":"","label":"Temperature","tooltip":"","group":"f3c5e5f1.03f0d8","order":1,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"DC","min":0,"max":"100","step":1,"x":1170,"y":420,"wires":[[]]},{"id":"e1d2ef93.80c96","type":"ui_numeric","z":"44238567.cd53cc","name":"","label":"Wind Speed","tooltip":"","group":"f3c5e5f1.03f0d8","order":2,"width":0,"height":0,"wrap":true,"passthru":true,"topic":"","format":"Kmph","min":0,"max":"50","step":1,"x":1170,"y":460,"wires":[[]]},{"id":"852740c7.7308d","type":"ui_numeric","z":"44238567.cd53cc","name":"","label":"Humidity","tooltip":"","group":"f3c5e5f1.03f0d8","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"%","min":0,"max":"100","step":1,"x":1160,"y":520,"wires":[[]]},{"id":"ed91e0f4.3bb6a","type":"ui_numeric","z":"44238567.cd53cc","name":"","label":"Pressure","tooltip":"","group":"f3c5e5f1.03f0d8","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"Pa","min":0,"max":"1000","step":1,"x":1160,"y":640,"wires":[[]]},{"id":"f5e03c93.8c2f5","type":"ui_audio","z":"44238567.cd53cc","name":"","group":"943d5bea.ff8958","voice":"hi-IN","always":"","x":1200,"y":1100,"wires":[]},{"id":"53277158.e7637","type":"ui_audio","z":"44238567.cd53cc","name":"","group":"943d5bea.ff8958","voice":"hi-IN","always":"","x":1140,"y":1200,"wires":[]},{"id":"89f304af.c79bc8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"10cde698.2a5cf9","type":"ui_group","z":"","name":"Temperature","tab":"ec2f851c.ec8d38","order":1,"disp":true,"width":8,"collapse":false},{"id":"40a3eeb7.afef6","type":"ui_group","z":"","name":"Soil Moisture","tab":"ec2f851c.ec8d38","order":2,"disp":true,"width":8,"collapse":false},{"id":"458ff22b.9b6b9c","type":"ui_group","z":"","name":"Humidity","tab":"ec2f851c.ec8d38","order":3,"disp":true,"width":8,"collapse":false},{"id":"7ce38ad9.2202f4","type":"ui_group","z":"","name":"Temperature","tab":"994a8f57.eaf63","order":1,"disp":true,"width":8,"collapse":false},{"id":"39b24ce8.4fdd54","type":"ui_group","z":"","name":"Wind Speed","tab":"994a8f57.eaf63","order":2,"disp":true,"width":"7","collapse":false},{"id":"2c21d1b5.8ceace","type":"ui_group","z":"","name":"Humidity","tab":"994a8f57.eaf63","order":3,"disp":true,"width":8,"collapse":false},{"id":"943d5bea.ff8958","type":"ui_group","z":"","name":"","tab":"6f092019.57c0a","order":1,"disp":true,"width":"6","collapse":false},{"id":"a888b20b.fa2dc","type":"ui_group","z":"","name":"Parameters","tab":"ec2f851c.ec8d38","order":4,"disp":true,"width":"13","collapse":false},{"id":"d6835d3e.3bd17","type":"ui_group","z":"","name":"Pressure","tab":"994a8f57.eaf63","order":4,"disp":true,"width":8,"collapse":false},{"id":"f3c5e5f1.03f0d8","type":"ui_group","z":"","name":"Weather Report","tab":"994a8f57.eaf63","order":5,"disp":true,"width":11,"collapse":false},{"id":"ec2f851c.ec8d38","type":"ui_tab","z":"","name":"smart agriculture system","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"994a8f57.eaf63","type":"ui_tab","z":"","name":"Live Weather Forecast","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"6f092019.57c0a","type":"ui_tab","z":"","name":"Motor","icon":"dashboard","order":7,"disabled":false,"hidden":false}]